@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  color: #fff;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  min-height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(27, 9, 118, 0.964);
  padding: 2rem 1.25rem;
}

input {
  height: 50px;
  width: 80%;
  max-width: 800px;
  border-radius: 1rem;
  background-color: rgba(82, 2, 156, 0.914);
  border: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 1.3rem;
}

input:focus {
  outline: 2px solid #fff;
}

input::placeholder {
  color: #aaa;
}

.profile-card {
  height: auto;
  font: 600 clamp(1.75rem, 5vw, 2.25rem) "Roboto", sans-serif;
  gap: 1.75rem;
  background-color: rgba(82, 2, 156, 0.905);
  border-radius: 1rem;
  width: 80%;
  max-width: 800px;
}

.profile-card.show {
  padding: 2rem;
  min-height: 200px;
}

.left {
  width: 30%;
  align-self: flex-start;
}

.left img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid rgb(30, 2, 156);
}

.right {
  height: 100%;
  width: 100%;
  align-self: flex-start;
}

h1 {
  font: 600 2rem "Roboto";
  letter-spacing: 2px;
  border-left: 3px solid #0f0;
  padding-left: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

.user-about {
  margin-top: 1rem;
  font: 400 1rem / 1.4rem "Roboto";
  letter-spacing: 2px;
}

.tags-container,
.follower-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 1rem;
}

.follower-container {
  justify-content: flex-start;
  gap: 8px;
}

.follower-container p {
  flex: 1;
  font: 400 1rem "Roboto", sans-serif;
}
.follower-container p strong {
  margin-left: 4px;
}

.tags {
  padding: 6px 10px;
  background-color: rgb(30, 2, 156);
  font-size: 0.65rem;
  letter-spacing: 1px;
  border-radius: 6px;
  margin-bottom: 4px;
  text-transform: capitalize;
}

@media screen and (max-width: 767px) {
  .profile-card {
    flex-wrap: wrap;
    min-width: 220px;
    width: 100%;
  }
  .profile-card.show {
    padding: 1.5rem;
  }
  .follower-container p {
    font-size: 0.8rem;
  }
}
