@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
  /* body bg color */
  --body-bg:#333;
  /* for font */
  --white-color: #fff;
  /* progress steps color */
  --active-state-color:#00ccff;
  --default-state-color:#555;
  /* btn color */
  --active-btn-color:#00ccff;
  --not-allowed-btn-color:#444;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: var(--body-bg);
  color: var(--white-color);
}

h1{
  margin-top: 1rem;
  font: 600 clamp(2rem, 4vw ,4rem) 'Roboto';
  text-align: center;
  color: #ccc;
  text-decoration: underline double var(--default-state-color) 2px;
  text-underline-offset: 1rem;
}

.progress-container{
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  height:80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.progress-item{
  width:100%;
  max-width: 22.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 15vw;
  align-items: center;
}

.steps{
  position: relative;
  padding: 10px 15px;
  border-radius:50% ;
  background: var(--default-state-color);
  border: 3px solid var(--default-state-color);
  transition: 0.4s;
}
.steps.active{
    border-color: var(--active-btn-color);
}

.steps:not(:nth-child(1))::after,.steps:not(:nth-child(1))::before{
  content: '';
  position: absolute;
  height: 4px;
  width: 15vw;
  top: 50%;
  left: calc(-15vw - 2px );
  translate: -0% -50%;
  background-color: var(--default-state-color);

}
.steps:not(:nth-child(1))::after{
  scale: 0;
  transform-origin:left ;
  transition: 0.4s;
}

.steps.active:not(:nth-child(1))::after{
  scale: 1;
  background-color: var(--active-btn-color);
}

button{
  margin-left: 10px;
  border: none;
  outline: none;
  padding: 0.6rem 1.5rem;
  border-radius: 0.5rem;
  font-size:1rem ;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--active-btn-color);
  box-shadow: 2px 4px 25px rgb(0 0 0 / 0.2);
}

button:active{
  scale: 0.95;
}

button:disabled{
  cursor: not-allowed;
  background-color: var(--not-allowed-btn-color);
}
