@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
}

h1 {
  position: absolute;
  top: 10px;
  left: 50%;
  translate: -50% 0%;
  font: 600 clamp(2rem, 4vw, 4rem) "Roboto";
  text-align: center;
}
