@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  --font: "Press Start 2P", system-ui;
  --color-blue: #516dff;
  --color-white: #fff;
  font-family: var(--font);
  background-color: var(--color-blue);
  color: var(--color-white);
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.transition {
  transition: 0.15s linear;
  -webkit-transition: 0.15s linear;
  -moz-transition: 0.15s linear;
  -o-transition: 0.15s linear;
}

/* Play Game sectionn style */
section {
  padding: 0.5rem;
  flex: 1 0 100%;
  width: 100%;
  position: relative;

  transition: 0.35s linear;
  -webkit-transition: 0.35s linear;
  -moz-transition: 0.35s linear;
  -o-transition: 0.35s linear;
}

section.up {
  margin-top: -100vh;
}

.container {
  flex-direction: column;
  gap: 2.4rem;
}

h1 {
  text-align: center;
  font: 700 2rem / 3rem var(--font);
}

button {
  font: 400 0.8rem var(--font);
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-color: var(--color-white);
  padding: 1rem 1.5rem;
  color: var(--color-blue);
}

button:hover {
  background-color: #f7f6f6f1;
}
button:active {
  scale: 0.96;
}

/* insect selection style */
ul {
  width: 100%;
  gap: 1.4rem;
  flex-wrap: wrap;
}
li {
  list-style: none;
  cursor: pointer;
  padding: 0.9rem;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.6rem;
  height: 150px;
  width: 150px;
  border: 2px solid #fff;
}

.insects:hover {
  background-color: var(--color-white);
}
.insects h3 {
  color: var(--color-white);
  font: 400 0.9rem var(--font);
}

.insects:hover h3 {
  color: var(--color-blue);
}
.insects img {
  width: 85%;
  object-fit: contain;
}
/* playground styling */
.header {
  justify-content: space-between;
  padding: 2rem 1.25rem 1.25rem;
  height: 60px;
}

.header .side {
  font: 700 1.25rem /1.75rem var(--font);
}

.playground {
  width: 100%;
  height: calc(100% - 60px);
  position: relative;
}

.playground img {
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 1;
  scale: 0;
  cursor: pointer;
}

.playground img.show {
  scale: 1;
}

.overlay-action {
  position: absolute;
  z-index: 2;
  top: -100px;
  left: 0px;
  width: 100%;
  height: 100px;
  background-color: #283680;
  visibility: hidden;
  transition: 0.4s ease-out;
  -webkit-transition: 0.4s ease-out;
  -moz-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
}

.overlay-action p {
  padding: 1rem 0px;
  text-align: center;
  font: 700 1.25rem / 2rem var(--font);
}

.overlay-action.show {
  visibility: visible;
  top: 25vh;
}

@media screen and (max-width: 500px) {
  .overlay-action p {
    font: 700 0.75rem / 1.25rem var(--font) !important;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: clamp(1.3rem, 10vw, 1.65rem);
  }

  .insects {
    height: 125px;
    width: 125px;
  }
  .insects h3 {
    font-size: 0.8rem;
  }
  .header .side {
    font-size: 1rem;
  }
  .header {
    padding: 0.8rem 0.5rem 0.5rem;
  }
  .playground img {
    height: 75px;
    width: 75px;
  }
  .overlay-action p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
